<div className="flex flex-col justify-center min-h-screen">
    <!-- <CircleImage />
    <CoverParticles /> -->

    <div className="flex items-center justify-center min-h-screen bg-[#221d2d] text-[#fdfcfd] font-[Poppins]">
      <div className="flex flex-col md:flex-row items-center w-[90vw] md:w-[75vw] max-w-[650px] p-6 md:p-8 bg-[#121017] rounded-[24px] mx-auto my-auto">
        <div className="w-full md:max-w-[280px] md:w-[35vw] md:ml-[-60px] md:mr-8 mb-8 md:mb-0">
          <!-- <Image
            src="/jonny.jpeg"
            priority
            width="300"
            height="300"
            alt="user image"
            className="w-full h-[200px] object-cover rounded-[24px]"
          /> -->
        </div>

        <div className="text-center md:text-left">
          <h2 className="text-[26px] font-[400] mt-0 mb-2">
            Jonny Fernandez
          </h2>

          <h3 className="text-[16px] font-[400] m-0 opacity-75">
            Full Stack Developer
          </h3>
          <p className="text-[16px] font-[400] mb-4 opacity-50">
            Creo en la importancia de crear software que sea funcional,
            intuitivo y agradable de usar. Valoro el código limpio y
            mantenible, y siempre busco nuevas tecnologías y mejores
            prácticas para mejorar mis proyectos.
          </p>
          <span
            className="text-[#f8f8f8] font-inherit px-6 py-4 text-[19px] rounded-[40px] cursor-pointer block mb-4"
            onClick={handleCopy}
          >
            
          </span>
         
        </div>
      </div>
    </div>
  </div>