{% extends 'layout/base1.html' %}

{% block content %}

<main class="container py-2">
    <h2>Tu Carrito</h2>
    <div class="user-info mb-4">
        <h4>Información del Cliente</h4>
        <p><strong>Nombre:</strong> {{ request.user.username }}</p>
        {% if user_profile %}
            <p><strong>Email:</strong> {{ user_profile.email }}</p>
            <p><strong>Teléfono:</strong> {{ user_profile.tel }}</p>
            <p><strong>Dirección:</strong> {{ user_profile.addres }}</p>
        {% else %}
            <p>El perfil del usuario no está disponible.</p>
        {% endif %}
    </div>

    {% if cart_items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.product.price }}</td>
                    <td>${{ item.get_total_price }}</td>
                    <td>
                        <a href="{% url 'decrementar' item.id %}" class="btn btn-sm btn-warning">-</a>
                        <a href="{% url 'incrementar' item.id %}" class="btn btn-sm btn-success">+</a>
                        <a href="{% url 'remove' item.id %}" class="btn btn-sm btn-danger">x</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Total: ${{ total_cost }}</h3>
        <a href="#" class="btn btn-primary">Generar pedido</a>
    {% else %}
        <p>Tu carrito está vacío.</p>
    {% endif %}
</main>

{% endblock content %}
